## Imports

In [1]:
import itertools
import pandas as pd
import numpy as np
import IPython

pd.set_option('display.max_colwidth', None)

## Tentativas

In [2]:
Machine = ["M1_P1", "M1_P2", "M1_P3", "M1_P4", "M2_P1", "M2_P2", "M2_P3", "M3_P1", "M3_P2", "M3_P3"]

In [3]:
for i in Machine:
    print(f"df_permutations[{i}]")

df_permutations[M1_P1]
df_permutations[M1_P2]
df_permutations[M1_P3]
df_permutations[M1_P4]
df_permutations[M2_P1]
df_permutations[M2_P2]
df_permutations[M2_P3]
df_permutations[M3_P1]
df_permutations[M3_P2]
df_permutations[M3_P3]

In [4]:
Inicio = [38, 33, 36, 20, 32, 29, 46, 38, 34, 40]
permutation_list = list(itertools.permutations(Inicio))

In [5]:
x1 = 38+29+36+20
x2 = 38+33+46
x3 = 32+34+40

max(x1, x2, x3)

123

In [6]:
df_permutations = pd.DataFrame(permutation_list, columns=Machine)
df_permutations["Maq1"] = df_permutations[["M1_P1", "M1_P2", "M1_P3", "M1_P4"]].sum(axis=1)
df_permutations["Maq2"] = df_permutations[["M1_P1", "M2_P2", "M2_P3"]].sum(axis=1)
df_permutations["Maq3"] = df_permutations[["M3_P1", "M3_P2", "M3_P3"]].sum(axis=1)
df_permutations["MaquinaDemora"] = df_permutations[["Maq1", "Maq2", "Maq3"]].max(axis=1)

# df_permutations.drop(["Maq1", "Maq2", "Maq3"], axis=1, inplace=True)

In [9]:
df_permutations.head(10)

,M1_P1,M1_P2,M1_P3,M1_P4,M2_P1,M2_P2,M2_P3,M3_P1,M3_P2,M3_P3,Maq1,Maq2,Maq3,MaquinaDemora
0,38,33,36,20,32,29,46,38,34,40,127,113,112,127
1,38,33,36,20,32,29,46,38,40,34,127,113,112,127
2,38,33,36,20,32,29,46,34,38,40,127,113,112,127
3,38,33,36,20,32,29,46,34,40,38,127,113,112,127
4,38,33,36,20,32,29,46,40,38,34,127,113,112,127
5,38,33,36,20,32,29,46,40,34,38,127,113,112,127
6,38,33,36,20,32,29,38,46,34,40,127,105,120,127
7,38,33,36,20,32,29,38,46,40,34,127,105,120,127
8,38,33,36,20,32,29,38,34,46,40,127,105,120,127
9,38,33,36,20,32,29,38,34,40,46,127,105,120,127